# Steps and decisions made in cleaning the data set

1. Load the dataset and convert date into datetime format
---
2. Verify the number of rows and columns
---
3. Verify data types
---
4. Convert CompanyID to categorical variable. I did that because i feel ID should not be treated as integer. No need of performing any mathematical operations on ID. I also think is just an arbitrary integer values.
---
5. Check for null values
---
6. Fill in missing values of numerical variables using the mean
---
7. Drop rows with missing value in LossFlag variable. I droped the rows because the column contains only zeros(0) and ones(1) and think no need of performing any mathematical operations on it,  as such to the best of my knowledge i decided to drop them. It is just 46 rows which i think might not have a significant impact on the outcome of the dataset.
---
8. Save the cleaned dataset in a new csv file.
---

In [1]:
import pandas as pd
import numpy as np

In [2]:
#load data set
fin_data = pd.read_csv('artificial_dataset.csv', parse_dates=[0])

In [3]:
#number of rows
len(fin_data)

1200

In [4]:
#number of columns
len(fin_data.columns)

10

In [5]:
#data set before cleaning
fin_data

,Date,CompanyID,Employees,Revenue,Expenses,Profit,LossFlag,Region,BusinessValuation,CloseFlag
0,2016-01-01,26,54,929805.23,274406.75,655398.48,0.0,A,44840.36,False
1,2016-02-01,26,54,945682.01,316877.41,628804.60,0.0,A,50344.14,False
2,2016-03-01,26,54,809434.40,252932.49,556501.91,0.0,A,40175.79,False
3,2016-04-01,26,54,924571.51,307911.34,616660.17,0.0,A,42020.35,False
4,2016-05-01,26,54,676168.26,354345.84,321822.42,0.0,A,19198.59,False
5,2016-06-01,26,54,806109.63,366210.98,439898.65,0.0,A,33085.92,False
6,2016-07-01,26,54,978358.01,371738.10,606619.92,0.0,A,36780.04,False
7,2016-08-01,26,54,849098.38,350149.41,498948.98,0.0,A,46114.92,False
8,2016-09-01,26,54,705606.59,321700.66,383905.93,0.0,A,37414.09,False
9,2016-10-01,26,54,595487.07,305533.43,289953.65,0.0,A,16481.23,False
10,2016-11-01,26,54,793107.83,292477.69,500630.14,0.0,A,42764.20,False
11,2016-12-01,26,54,662538.99,400152.71,262386.28,0.0,A,17585.82,False
12,2016-01-01,86,57,931062.83,357594.68,573468.15,0.0,A,40006.93,False
13,2016-02-01,86,57,798210.56,305868.63,492341.93,0.0,A,46669.96,False
14,2016-03-01,86,57,667493.14,337219.78,330273.36,0.0,A,11550.49,False
15,2016-04-01,86,57,559351.61,269911.37,289440.25,0.0,A,10448.52,False
16,2016-05-01,86,57,535299.99,271254.60,264045.39,0.0,A,8295.06,False
17,2016-06-01,86,57,539826.55,335234.43,204592.12,0.0,A,18062.09,False
18,2016-07-01,86,57,784191.74,359264.14,NaN,0.0,A,35894.05,False
19,2016-08-01,86,57,487176.28,311135.22,176041.06,0.0,A,16002.28,False
20,2016-09-01,86,57,772482.80,399203.01,373279.79,0.0,A,36769.29,False
21,2016-10-01,86,57,782016.23,316817.01,465199.22,0.0,A,39979.73,False
22,2016-11-01,86,57,664765.27,309631.60,355133.67,0.0,A,22126.09,False
23,2016-12-01,86,57,559412.13,263335.13,296077.00,0.0,A,25059.08,False
24,2016-01-01,2,74,769829.81,301381.69,468448.12,0.0,A,17931.82,False
25,2016-02-01,2,74,774639.42,284191.02,490448.39,0.0,A,36682.83,False
26,2016-03-01,2,74,764431.47,303573.47,460858.00,0.0,A,18450.33,False
27,2016-04-01,2,74,772534.94,252717.76,519817.18,0.0,A,49968.37,False
28,2016-05-01,2,74,781652.04,299445.17,482206.86,0.0,A,32080.92,False
29,2016-06-01,2,74,595126.25,329301.66,265824.58,0.0,A,15690.65,False
...,...,...,...,...,...,...,...,...,...,...
1170,2016-07-01,64,708,712.10,8721.47,-8009.37,1.0,C,-408.00,False
1171,2016-08-01,64,708,NaN,11025.39,-9973.66,1.0,C,-570.38,False
1172,2016-09-01,64,708,736.26,8051.19,-7314.93,1.0,C,-468.44,False
1173,2016-10-01,64,708,620.69,9948.14,-9327.46,1.0,C,-663.84,False
1174,2016-11-01,64,708,978.40,10509.14,-9530.74,1.0,C,-942.30,False
1175,2016-12-01,64,708,1103.94,10055.86,-8951.92,1.0,C,-705.53,False
1176,2016-01-01,47,898,253980.22,414470.01,-160489.79,1.0,E,-9190.99,False
1177,2016-02-01,47,898,284736.66,377902.63,-93165.97,NaN,E,-4515.17,False
1178,2016-03-01,47,898,316394.92,363852.89,-47457.97,1.0,E,-4561.84,False
1179,2016-04-01,47,898,239265.31,445207.91,-205942.60,1.0,E,-8132.34,False
1180,2016-05-01,47,898,238227.89,442004.56,-203776.67,1.0,E,-16387.44,False
1181,2016-06-01,47,898,206689.36,484894.20,-278204.84,1.0,E,-26367.60,False
1182,2016-07-01,47,898,234630.95,320265.49,-85634.54,1.0,E,-6553.32,False
1183,2016-08-01,47,898,250484.06,308124.85,-57640.80,1.0,E,-3436.19,False
1184,2016-09-01,47,898,250098.30,485472.05,-235373.75,1.0,E,-10339.82,False
1185,2016-10-01,47,898,221244.59,308130.45,-86885.86,1.0,E,-4841.56,False
1186,2016-11-01,47,898,289718.60,279712.50,10006.09,0.0,E,795.29,False
1187,2016-12-01,47,898,325569.76,309194.13,16375.62,0.0,E,1235.83,False
1188,2016-01-01,44,874,1142.04,2347.74,-1205.70,1.0,C,-114.49,False
1189,2016-02-01,44,874,1253.18,1709.31,-456.13,1.0,C,-41.36,False
1190,2016-03-01,44,874,1259.69,2456.12,-1196.43,1.0,C,-104.25,False
1191,2016-04-01,44,874,1057.55,2801.55,-1744.00,1.0,C,-163.59,False
1192,2016-05-01,44,874,1290.95,2666.69,-1375.75,1.0,C,-67.88,False
1193,2016-06-01,44,874,1523.86,2368.12,-844.26,1.0,C,-47.17,False
1194,2016-07-01,44,874,1142.23,1928.22,-786.00,1.0,C,-44.48,False
1195,2016-08-01,44,874,1203.30,2442.95,-1239.65,1.0,C,-85.82,False
1196,2016-09-01,44,874,881.58,2653.77,-1772.19,1.0,C,-136.06,False
1197,2016-10-01,44,874,1346.82,3057.57,-1710.74,1.0,C,-85.66,False
1198,2016-11-01,44,874,1233.13,2227.40,-994.27,1.0,C,-31.18,False
1199,2016-12-01,44,874,1169.79,2537.58,-1367.78,1.0,C,-79.26,False

In [6]:
#Top rows
fin_data.head()

,Date,CompanyID,Employees,Revenue,Expenses,Profit,LossFlag,Region,BusinessValuation,CloseFlag
0,2016-01-01,26,54,929805.23,274406.75,655398.48,0.0,A,44840.36,False
1,2016-02-01,26,54,945682.01,316877.41,628804.60,0.0,A,50344.14,False
2,2016-03-01,26,54,809434.40,252932.49,556501.91,0.0,A,40175.79,False
3,2016-04-01,26,54,924571.51,307911.34,616660.17,0.0,A,42020.35,False
4,2016-05-01,26,54,676168.26,354345.84,321822.42,0.0,A,19198.59,False

In [7]:
#bottom rows
fin_data.tail()

,Date,CompanyID,Employees,Revenue,Expenses,Profit,LossFlag,Region,BusinessValuation,CloseFlag
1195,2016-08-01,44,874,1203.30,2442.95,-1239.65,1.0,C,-85.82,False
1196,2016-09-01,44,874,881.58,2653.77,-1772.19,1.0,C,-136.06,False
1197,2016-10-01,44,874,1346.82,3057.57,-1710.74,1.0,C,-85.66,False
1198,2016-11-01,44,874,1233.13,2227.40,-994.27,1.0,C,-31.18,False
1199,2016-12-01,44,874,1169.79,2537.58,-1367.78,1.0,C,-79.26,False

In [8]:
#checking column names
fin_data.columns

Index(['Date', 'CompanyID', 'Employees', 'Revenue', 'Expenses', 'Profit',
       'LossFlag', 'Region', 'BusinessValuation', 'CloseFlag'],
      dtype='object')

In [9]:
#information on the columns
fin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 10 columns):
Date                 1200 non-null datetime64[ns]
CompanyID            1200 non-null int64
Employees            1200 non-null int64
Revenue              1155 non-null float64
Expenses             1154 non-null float64
Profit               1154 non-null float64
LossFlag             1154 non-null float64
Region               1200 non-null object
BusinessValuation    1166 non-null float64
CloseFlag            1200 non-null bool
dtypes: bool(1), datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 85.6+ KB

In [10]:
#checking data types
fin_data.dtypes

Date                 datetime64[ns]
CompanyID                     int64
Employees                     int64
Revenue                     float64
Expenses                    float64
Profit                      float64
LossFlag                    float64
Region                       object
BusinessValuation           float64
CloseFlag                      bool
dtype: object

In [11]:
#converting companyID to categorical variable
fin_data.CompanyID = fin_data.CompanyID.astype('category')

In [12]:
#getting stats on the columns
fin_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Employees,1200.0,208.270000,243.010718,10.00,47.7500,89.500,286.7500,989.00
Revenue,1155.0,425238.138442,333278.700364,620.69,90465.0850,343566.640,744273.1850,999956.03
Expenses,1154.0,223853.518925,134884.471611,1709.31,90465.2100,231687.630,328642.0750,499873.51
Profit,1154.0,201207.182062,296717.011844,-454431.65,-34573.6025,174968.470,475166.6525,940167.10
LossFlag,1154.0,0.405546,0.491210,0.00,0.0000,0.000,1.0000,1.00
BusinessValuation,1166.0,13114.752487,20650.726418,-44686.90,-2132.3600,9317.785,28616.5850,78344.68

In [13]:
#checking null values
fin_data.apply(lambda x: sum(x.isnull()),axis=0)

Date                  0
CompanyID             0
Employees             0
Revenue              45
Expenses             46
Profit               46
LossFlag             46
Region                0
BusinessValuation    34
CloseFlag             0
dtype: int64

In [14]:
#fill in missing values using mean for numerical variables
fin_data['Revenue'].fillna(fin_data['Revenue'].mean(), inplace=True)
fin_data['Expenses'].fillna(fin_data['Expenses'].mean(), inplace=True)
fin_data['Profit'].fillna(fin_data['Profit'].mean(), inplace=True)
fin_data['BusinessValuation'].fillna(fin_data['BusinessValuation'].mean(), inplace=True)

In [15]:
#drop the rows with null values in lossflag 
fin_data.drop(fin_data[fin_data.LossFlag.isnull()].index, axis = 0, inplace = True)

In [16]:
#re-checking null values
fin_data.apply(lambda x: sum(x.isnull()),axis=0)

Date                 0
CompanyID            0
Employees            0
Revenue              0
Expenses             0
Profit               0
LossFlag             0
Region               0
BusinessValuation    0
CloseFlag            0
dtype: int64

In [17]:
len(fin_data)

1154

In [18]:
#data set after cleaning
fin_data

,Date,CompanyID,Employees,Revenue,Expenses,Profit,LossFlag,Region,BusinessValuation,CloseFlag
0,2016-01-01,26,54,929805.230000,274406.75,655398.480000,0.0,A,44840.36,False
1,2016-02-01,26,54,945682.010000,316877.41,628804.600000,0.0,A,50344.14,False
2,2016-03-01,26,54,809434.400000,252932.49,556501.910000,0.0,A,40175.79,False
3,2016-04-01,26,54,924571.510000,307911.34,616660.170000,0.0,A,42020.35,False
4,2016-05-01,26,54,676168.260000,354345.84,321822.420000,0.0,A,19198.59,False
5,2016-06-01,26,54,806109.630000,366210.98,439898.650000,0.0,A,33085.92,False
6,2016-07-01,26,54,978358.010000,371738.10,606619.920000,0.0,A,36780.04,False
7,2016-08-01,26,54,849098.380000,350149.41,498948.980000,0.0,A,46114.92,False
8,2016-09-01,26,54,705606.590000,321700.66,383905.930000,0.0,A,37414.09,False
9,2016-10-01,26,54,595487.070000,305533.43,289953.650000,0.0,A,16481.23,False
10,2016-11-01,26,54,793107.830000,292477.69,500630.140000,0.0,A,42764.20,False
11,2016-12-01,26,54,662538.990000,400152.71,262386.280000,0.0,A,17585.82,False
12,2016-01-01,86,57,931062.830000,357594.68,573468.150000,0.0,A,40006.93,False
13,2016-02-01,86,57,798210.560000,305868.63,492341.930000,0.0,A,46669.96,False
14,2016-03-01,86,57,667493.140000,337219.78,330273.360000,0.0,A,11550.49,False
15,2016-04-01,86,57,559351.610000,269911.37,289440.250000,0.0,A,10448.52,False
16,2016-05-01,86,57,535299.990000,271254.60,264045.390000,0.0,A,8295.06,False
17,2016-06-01,86,57,539826.550000,335234.43,204592.120000,0.0,A,18062.09,False
18,2016-07-01,86,57,784191.740000,359264.14,201207.182062,0.0,A,35894.05,False
19,2016-08-01,86,57,487176.280000,311135.22,176041.060000,0.0,A,16002.28,False
20,2016-09-01,86,57,772482.800000,399203.01,373279.790000,0.0,A,36769.29,False
21,2016-10-01,86,57,782016.230000,316817.01,465199.220000,0.0,A,39979.73,False
22,2016-11-01,86,57,664765.270000,309631.60,355133.670000,0.0,A,22126.09,False
23,2016-12-01,86,57,559412.130000,263335.13,296077.000000,0.0,A,25059.08,False
24,2016-01-01,2,74,769829.810000,301381.69,468448.120000,0.0,A,17931.82,False
25,2016-02-01,2,74,774639.420000,284191.02,490448.390000,0.0,A,36682.83,False
26,2016-03-01,2,74,764431.470000,303573.47,460858.000000,0.0,A,18450.33,False
27,2016-04-01,2,74,772534.940000,252717.76,519817.180000,0.0,A,49968.37,False
28,2016-05-01,2,74,781652.040000,299445.17,482206.860000,0.0,A,32080.92,False
29,2016-06-01,2,74,595126.250000,329301.66,265824.580000,0.0,A,15690.65,False
...,...,...,...,...,...,...,...,...,...,...
1169,2016-06-01,64,708,711.570000,7115.69,-6404.120000,1.0,C,-606.10,False
1170,2016-07-01,64,708,712.100000,8721.47,-8009.370000,1.0,C,-408.00,False
1171,2016-08-01,64,708,425238.138442,11025.39,-9973.660000,1.0,C,-570.38,False
1172,2016-09-01,64,708,736.260000,8051.19,-7314.930000,1.0,C,-468.44,False
1173,2016-10-01,64,708,620.690000,9948.14,-9327.460000,1.0,C,-663.84,False
1174,2016-11-01,64,708,978.400000,10509.14,-9530.740000,1.0,C,-942.30,False
1175,2016-12-01,64,708,1103.940000,10055.86,-8951.920000,1.0,C,-705.53,False
1176,2016-01-01,47,898,253980.220000,414470.01,-160489.790000,1.0,E,-9190.99,False
1178,2016-03-01,47,898,316394.920000,363852.89,-47457.970000,1.0,E,-4561.84,False
1179,2016-04-01,47,898,239265.310000,445207.91,-205942.600000,1.0,E,-8132.34,False
1180,2016-05-01,47,898,238227.890000,442004.56,-203776.670000,1.0,E,-16387.44,False
1181,2016-06-01,47,898,206689.360000,484894.20,-278204.840000,1.0,E,-26367.60,False
1182,2016-07-01,47,898,234630.950000,320265.49,-85634.540000,1.0,E,-6553.32,False
1183,2016-08-01,47,898,250484.060000,308124.85,-57640.800000,1.0,E,-3436.19,False
1184,2016-09-01,47,898,250098.300000,485472.05,-235373.750000,1.0,E,-10339.82,False
1185,2016-10-01,47,898,221244.590000,308130.45,-86885.860000,1.0,E,-4841.56,False
1186,2016-11-01,47,898,289718.600000,279712.50,10006.090000,0.0,E,795.29,False
1187,2016-12-01,47,898,325569.760000,309194.13,16375.620000,0.0,E,1235.83,False
1188,2016-01-01,44,874,1142.040000,2347.74,-1205.700000,1.0,C,-114.49,False
1189,2016-02-01,44,874,1253.180000,1709.31,-456.130000,1.0,C,-41.36,False
1190,2016-03-01,44,874,1259.690000,2456.12,-1196.430000,1.0,C,-104.25,False
1191,2016-04-01,44,874,1057.550000,2801.55,-1744.000000,1.0,C,-163.59,False
1192,2016-05-01,44,874,1290.950000,2666.69,-1375.750000,1.0,C,-67.88,False
1193,2016-06-01,44,874,1523.860000,2368.12,-844.260000,1.0,C,-47.17,False
1194,2016-07-01,44,874,1142.230000,1928.22,-786.000000,1.0,C,-44.48,False
1195,2016-08-01,44,874,1203.300000,2442.95,-1239.650000,1.0,C,-85.82,False
1196,2016-09-01,44,874,881.580000,2653.77,-1772.190000,1.0,C,-136.06,False
1197,2016-10-01,44,874,1346.820000,3057.57,-1710.740000,1.0,C,-85.66,False
1198,2016-11-01,44,874,1233.130000,2227.40,-994.270000,1.0,C,-31.18,False
1199,2016-12-01,44,874,1169.790000,2537.58,-1367.780000,1.0,C,-79.26,False

In [19]:
#save data set to a new file
fin_data.to_csv('Cleaned_Artificial_Dataset.csv', index = False)